build/
buildSrc
gradle/
out/
.gradle/
*.iml
*.ipr
*.iws
*.log*
*.class
/*.png
dependencies
node_modules
opslog.location_IS_UNDEFINED
.idea/
.sonar-ide.properties
classes/
target/
.vagrant/
QA/functional/*.png
.DS_Store
dev/.DS_Store
dev/front-end/.DS_Store
dev/front-end/specs/.DS_Store
dev/front-end/specs/deviceListing/.DS_Store
src/.DS_Store
thirdparty/.DS_Store
src/main/resources/upgradeShopVersion.properties
src/main/webapp/static/newShopStatic/_assets/js/angular-templates.js
.vscode/*.*
seleniumscreenshots
